.container {
  display: flex;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
}
.section {
  padding: 94px 0 94px 0;
}
