.container {
  display: flex;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    max-width: 1600px;
    // height: 600px;
      height: auto;
  }



}
.section {
  padding: 60px 0 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0 94px 0;
  }
}
