// body {
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
//     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
//   line-height: 1.5;
//   color: #212121;
//   background-color: #fff;
// }

// .container {
//   min-width: 320px;
//   max-width: 1170px;
//   padding-left: 15px;
//   padding-right: 15px;
//   margin-left: auto;
//   margin-right: auto;
// }

// .page-header {
//   box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
//     0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
// }

.button-menu {
  display: flex;
  // flex-direction: row;
  // justify-content: flex-end;
  // align-items: flex-end;
  margin-left: auto;
  width: 40px;
  height: 40px;
  // position: absolute;
  // width: 24px;
  //   height: 24px;
  background-color: transparent;
  border: 0px;

  @media screen and (min-width:768px) {
    display: none;
  }
}

.button-menu__svg {
  width: 100%;
  height: 100%;
  // padding: 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  
  
  // background-color: transparent;
  // position: absolute;


  // left: 425px;
  // top: 10px;
}




.header .container {
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px 48px 40px;
  background-color: var(--background-page-color);
  color: var(--title-text-color);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  @media (min-width: 768px) {
      & {
        display: none;
      }
    }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--title-text-color);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
@media screen and (min-width:768px) {
  position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    opacity: 0;
}
  
}
.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--title-text-color);
  text-decoration: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
      color: var(--accent-text-color);
    }
        @media screen and (min-width:768px) {
          position: absolute;
          width: 1px;
          height: 1px;
          margin: -1px;
          border: 0;
          padding: 0;
          white-space: nowrap;
          clip-path: inset(100%);
          clip: rect(0 0 0 0);
          overflow: hidden;
          opacity: 0;
        }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  // margin: 0;
  padding: 0;
  background-color: transparent;

  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
    fill: var(--accent-text-color);
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-box {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
//   justify-content: space-between;
// // align-items: flex-end;
//     justify-content: space-between;
//     margin-top: auto;
//     margin-bottom: auto;
    // align-items: flex-end;
    // justify-content: space-between;
    // flex-wrap: wrap;
    // justify-content: end;
    // align-items:flex-end;
    // align-items: center;
}

// .menu-toggle:hover,
// .menu-toggle:focus {
//   fill: var(--accent-text-color);
// }
.mob-nav {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: end;
  // align-items:flex-end;
  // align-items: center;
  // margin-left: 96px;
  margin-left: auto;
  padding: 0;
  margin: 0;
  // margin-top: 32px;
  
   // list-style: none;
}

// @media (max-width: 767px) {
//   .mob-nav {
//     display: none;
//   }
// }
.mob-nav .link {
  // padding: 10px;
  color: inherit;
  // color: var(--title-text-color);
  text-decoration: none;
  padding: 0;
}
.mob-nav .mob-nav_link:hover,
.mob-nav .mob-nav_link:focus {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
    fill: var(--accent-text-color);
  }
}
.mob-nav .list {
  padding: 0;
  // margin-bottom: 32px;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
//   &:nth-child(1) {
//       padding-bottom: 32px;
//     }
//   // .mob-nav .list {
//   // &:nth-child(2) {
//   //     padding-bottom: 0;
//   //   }
//   // 
// }
}
.mob-nav_link {
  padding: 0;
}
.box-soc {
  display: flex;
    padding: 0;
    margin: 0;
    height: 100%;
    flex-direction: row;
    // align-items: flex-end;
    // justify-content: flex-end;
    margin-top: auto;
    margin-bottom: 64px;
    // align-items: flex-end;
    // justify-content: space-between;
    // flex-wrap: wrap;
    // justify-content: end;
    // align-items:flex-end;
    // align-items: center;
}
.box-soc .mob-nav {
  // justify-content: space-between;
    height: 100%;
    margin: 302px 0 0 0;
  // align-items: flex-end;
  //   justify-content: flex-end;
  // margin-top: auto;
  // &:hover,
  //   &:focus {
  //     color: var(--accent-text-color);
  //     fill: var(--accent-text-color);
  //   }
}
.mob-nav_tel {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
    // fill: var(--accent-text-color);
  }
}
.mob-nav_email {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-text-color);
    // fill: var(--accent-text-color);
  }
}



.box-join {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  height: 100%;
  // flex-direction: row;
  // align-items: flex-end;
  // justify-content: flex-end;
  margin-top: auto;
  align-items: flex-start;
    justify-content: flex-start;
  // align-items: flex-end;
  // justify-content: space-between;
  // flex-wrap: wrap;
  // justify-content: end;
  // align-items:flex-end;
  // align-items: center;
}

// .box-join .mob-nav {
//   flex-direction: row;
//   align-items: center;
//   // justify-content: space-between;
//   height: 100%;
//   margin: 64px 0 0 0;
//   // align-items: flex-end;
//   //   justify-content: flex-end;
//   // margin-top: auto;
//   // &:hover,
//     &:focus {
//       color: var(--accent-text-color);
//       fill: var(--accent-text-color);
//     }
// }
.box-join__nav {
display: flex;
  flex-direction: row;
  // justify-content: space-between;
  height: 100%;
  margin: 0;
  max-width: 356px;
  // align-items: flex-start;
  // justify-content: flex-start;
  // margin-top: auto;
  // &:hover,
  &:focus {
    color: var(--accent-text-color);
    fill: var(--accent-text-color);
  }
  

}
.box-join__list {

&:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    // transform: rotate(90deg);
  }
}

.mob-nav_soc {
  padding: 10px 10px 10px 10px;
  
  // width: calc(#{100%/ 4});
  margin: 0;
  &:nth-child(1) {
      padding: 0 10px 10px 10px;
    // padding-left: 0;
  }
}