/* portfolio */
.portfolio-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @media screen and (min-width:768px) {
      align-items: center;
    }
  }
.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 328px;
  padding: 0;
  margin: 0 0 40px 0;
  @media screen and (min-width:768px) {
      margin-bottom: 30px;
      width: 575px;
  }
  @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
  }
}
.nav__action {
  margin-right: 8px;
  &:nth-child(5) {
    margin-right: 0;
  }
  &:nth-child(3) {
    margin-right: 0;
  }
  &:first-child .nav-list__btn {
    min-width: 73px;
  }
  &:nth-child(2) .nav-list__btn {
    min-width: 125px;
  }
  &:nth-child(3) .nav-list__btn {
    min-width: 112px;
  }
  &:nth-child(4) .nav-list__btn {
    min-width: 103px;
  }
  &:nth-child(5) .nav-list__btn {
    min-width: 130px;
  }
  @media screen and (min-width: 768px) {
    &:nth-child(3) {
        margin-right: 8px;
      }
  }
  @media screen and (max-width: 768px) {
    &:nth-child(3) {
      .nav__action {
        margin-right: 0px;
      }
    }
    &:nth-child(4) {
      margin-top: 15px;
    }
      &:nth-child(5) {
        margin-top: 15px;
    }
    }
  }
.nav-list__btn {
  background-color: var(--team-action-color);
  color: var(--title-text-color);
  cursor: pointer;
  min-height: 38px;
  border-style: 4px 4px 4px 4px;
  border-style: none;
  border-bottom: 1px solid var(--card-portfolio-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    background-color: var(--accent-text-color);
    color: var(--background-page-color);
    border-bottom: 0;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.portfolio-action {
  display: block;
  height: auto;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  padding: 0;
  width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width:768px) {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    margin: -30px 0 0 -30px;
  }
}
.card-set__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--background-page-color);
  &:nth-child(9) {
  margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    width: 354px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
    &:hover .card-set__text {
      transform: translateY(0);
    }
  }
  @media screen and (min-width: 1200px) {
    .card-set>& {
      margin-top: 30px;
      margin-left: 30px;
      width: calc(#{100 / 3} - 30px);
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
    &:hover .card-set__text {
      transform: translateY(0);
    }
  }
}
.card-set__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 100%;
  transition: box-sizing 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
    align-items: center;
    list-style: none;
    width: calc(#{100 / 3} - 30px);
  }
}
.card-set__text {
  position: absolute;
  top: 0;
  color: var(--background-page-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 20px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::-webkit-scrollbar {
    width: 1em;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
}
.card-set__title {
  color: var(--title-text-color);
  padding: 0;
  width: 100%;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
.card-set__type {
  padding: 0;
  margin: 0;
}
.card-set__img {
  display: flex;
  width: 100%;
}
.card-set__thumb {
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}
.card-set__content {
  display: block;
  box-sizing: border-box;
  padding: 20px 20px 20px 24px;
  border-right: 1px solid var(--card-portfolio-color);
  border-left: 1px solid var(--card-portfolio-color);
  border-bottom: 1px solid var(--card-portfolio-color);
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 370px;
      box-sizing: border-box;
      background-color: var(--background-page-color);
    }
}
.card-set__list:nth-child(1) .card-set__content {
  @media screen and (min-width: 768px) {
    height: 146px;
  }
}
.card-set__list:nth-child(1) .card-set__content {
@media screen and (min-width: 1200px) {
    height: auto;
  }
}
